* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.btn-bg {
	background-color: #1da1f2;
	width: 100%;
}
.btn-border {
	border: 1px solid #1da1f2;
	width: 100%;
	color: #1da1f2;
}

.login-signup {
	height: 90vh;
	margin: 0 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.navigation-link :hover {
	background-color: #1da1f2;
}
.logo-image {
	border-radius: 50%;
	width: 50px;
}
.covid-logo {
	border-radius: 30%;
}
.home-container {
	/* width: 100%; */
	margin: 0 10%;
}
.prime-text {
	color: #1da1f2;
}
.btn-follow {
	border: 2px solid #1da1f2;
	color: #1da1f2;
}
.b-top {
	border-top: 1px solid #dcdfe1;
}
.search-input {
	border: 0;
	border-radius: 30%;
	background-color: #e6ecf0;
	width: auto;
}
.gap{
  height: 10px;
  background-color: #e6ecf0;
}

.img-up{
  margin-top: -100px;
  border: 5px solid white;
}
.tempo{
  width: 50vw;
  margin-left: 25%;
}